<div class="container">

    <!-- ajout -->
    <h2>Ajout des unitées à un joueur</h2>

    <!-- joueur -->
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>Joueur</mat-label>
                <mat-select name="joueur" (selectionChange)="JoueurChoisi($event.value)">
                    <mat-option *ngFor="let ligne of listeJoueur" [value]="ligne.id">{{ ligne.speudo }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- commandant -->
        <div class="col">
            <mat-form-field>
                <mat-label>Commandant</mat-label>
                <mat-select name="cmdt" (selectionChange)="ListerUnite($event.value)">
                    <mat-option *ngFor="let ligne of listeCommandant" [value]="ligne.idCommandant">{{ ligne.libelCommandant }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- niveau des unites selectionné -->
        <div class="col">
            <mat-form-field>
                <mat-label>Niveau unités</mat-label>
                <mat-select name="niveauUnite" (selectionChange)="NiveauUniteChoisi($event.value)">
                    <mat-option value="5">5</mat-option>
                    <mat-option value="6">6</mat-option>
                    <mat-option value="7">7</mat-option>
                    <mat-option value="8">8</mat-option>
                    <mat-option value="9">9</mat-option>
                    <mat-option value="10">10</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>  

    <!-- unite preferer -->
    <div class="row">
        <div class="col">
            <mat-checkbox class="checkBoxUnite" (change)="UnitePreferer($event.checked)">Unité préféré</mat-checkbox>
        </div>
    </div>

    <br>

    <!-- affichage unites de la nation du commandant choisi -->
    <section class="row">
        <div class="col-md-4 col-xs-12" *ngFor="let ligne of listeUniteCommandant">
            <mat-checkbox [disabled]="!IdJoueurNiveauChoisi()" class="checkBoxUnite" (change)="ClickCheckBox(ligne.idUnite, $event.checked)">{{ ligne.libelUnite }}</mat-checkbox>
        </div>
    </section>

    <button mat-raised-button (click)="AjouterUniteJoueur()" color="primary">Valider</button> 
</div>



